@import '_var';

body {
    background: #fff;
    color: #333;
    font-size: 12px;
    font-family: Arial,"宋体",Tahoma,Verdana,sans-serif,simsun;
}
/*
    top
 */
#top {
    width: 100%; background-color: #f4f4f4;color:#666;
    .container{
        height: 40px;line-height: 40px;    text-align: center;
        .left{
            width: 400px;
            padding-left: 5px;
            li{
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                position:relative;
                i{
                    float: left;
                    display: block;
                    margin: 0 5px 10px 0;
                    width: 20px;
                    height: 20px;
                }
                a{
                    white-space: nowrap;
                    height: 40px;
                    line-height: 40px;
                    float: left;
                    display: block;
                    &:hover{
                        text-decoration:underline;
                        color:$mainColor;
                    }
                }
                s{
                    float: left;
                    display: block;
                    margin: 10px 10px 10px 10px;
                    width: 1px;
                    height: 20px;
                    border-right: 1px solid #e5e5e5;
                    font-size: 0;
                    overflow: hidden;
                }
                .wxbig{
                    position: absolute;
                    top: 40px;
                    left: -80px;   
                    z-index: 99999;
                    border: 1px solid #e5e5e5;
                    background: #fff;
                    display:none;
                    .pic{
                        position: relative;
                        width: 258px;
                        height: 258px;
                        background: url('../img/1535021874(1).jpg') no-repeat center top;
                    }
                    .txt{
                        padding: 0 10px 5px;
                        width: 238px;
                        color: #666;
                        text-align: center;
                        font-family: "\5FAE\8F6F\96C5\9ED1";
                    }
                }
                .appbig{
                    position: absolute;
                    top: 40px;
                    left: -80px;
                    display: none;
                    z-index: 99999;
                    border: 1px solid #e5e5e5;
                    background: #fff;
                    .pic{
                        position: relative;
                        width: 258px;
                        height: 258px;
                        background: url("../img/1535022255(1).jpg") no-repeat center top;
                    }
                    .txt{
                        padding: 0 10px 5px;
                        width: 238px;
                        color: #666;
                        text-align: center;
                        font-family: "\5FAE\8F6F\96C5\9ED1";
                    }
                }
            }
        }
        .right{
            float: right;
            width: 785px;
            li{width: 80px;float: right;
                >a{
                    display:block;
                    float: left;
                    }}
            .sjrz{   
                a{
                    background-color: #0cb95f;
                    display: block;
                    width: 69px;
                    height: 22px;
                    border-radius: 1px;
                    line-height: 22px;
                    text-align: center;
                    color: #fff;
                    margin-top: 9px;
                    margin-right: 0;
                }
                
            }
            .wzdh{
                position: relative;
                padding-left: 20px;
                margin-left: -20px;
                &:hover >a{
                    text-decoration:underline;
                    color:$mainColor;
                }
                &:hover{
                    background-color: #FFF;
                    width:78px;
                    border-bottom:1px solid #fff;
                    border-left:1px solid #ccc;
                    border-right:1px solid #ccc;
                    border-bottom:1px solid #fff;
                }
                >a{
                    display: block;
                    float: left;
                    line-height: 40px;
                }
                i{
                    float: left;
                    display: block;
                    margin: 0 5px 10px 0px;
                    width: 20px;
                    height: 20px;
                }
                .other{
                    background: #fff;
                    border: 1px solid #ccc;
                    border-top:0;
                    position: absolute;
                    right: -1px;
                    top: 40px;
                    z-index: 2;
                    width: 450px;
                    padding: 10px 0;
                    line-height: 1.5;
                    display: none;
                    .item{
                        display: inline-block;
                        width: 44%;
                        vertical-align: top;
                        text-align: left;
                        .h1{
                            color: #0cb95f;
                            font-size: 14px;
                            padding: 0 0 5px 5px;
                        }
                        a{
                            display: inline-block;
                            vertical-align: top;
                            padding: 2px 5px;
                            color: #333;
                        }
                    }
                }
            }
            .kfzx a:hover{
                text-decoration:underline;
                color:$mainColor;
            }
            .sc s{
                float: left;
                display: block;
                margin: 10px 10px 10px 10px;
                width: 1px;
                height: 20px;
                border-right: 1px solid #e5e5e5;
                font-size: 0;
                overflow: hidden;
            }
            .sc a:hover{
                text-decoration:underline;
                color:$mainColor;
            }
            .person{
                width: 95px;
                padding-left: 15px;
                position:relative;
                &:hover >a{
                    text-decoration:underline;
                    color:$mainColor;
                }
                &:hover{
                    background-color: #FFF;
                    width:93px;
                    border-bottom:1px solid #fff;
                    border-left:1px solid #ccc;
                    border-right:1px solid #ccc;
                    border-bottom:1px solid #fff;
                }
                i{
                    float: left;
                    display: block;
                    margin: 0 5px 10px 0px;
                    width: 20px;
                    height: 20px;
                } 
                s{
                    float: left;
                    display: block;
                    margin: 10px 10px 10px 10px;
                    width: 1px;
                    height: 20px;
                    border-right: 1px solid #e5e5e5;
                    font-size: 0;
                    overflow: hidden;
                }
                .menu_list{
                    position: absolute;
                    top: 40px;
                    left: -1px;
                    z-index: 999;
                    display: none;
                    overflow: hidden;
                    width: 96px;
                    min-width: 100%;
                    border: 1px solid #ccc;
                    border-top:0;
                    background: #fff;
                    a{
                        display: block;
                        width: 100%;
                        height: 30px;
                        text-align: left;
                        text-indent: 15px;
                        line-height: 30px;
                        &:hover{
                            background-color: #f4f4f4;
                            text-decoration:underline;
                            color:$mainColor;
                        }
                    }
                }
            }
            //购物车
            .cart{
                width: 110px;
                padding-left: 15px;
                position:relative;
                // display:none;
                i{
                    float: left;
                    display: block;
                    margin: 0 5px 10px 0;
                    width: 20px;
                    height: 20px;
                }
                a:hover{
                    color:rgb(204,0,0);
                }
                .cart_box{
                    position: absolute;
                    top: 40px;
                    left: -1px;
                    z-index: 9999;
                    display: none;
                    overflow: hidden;
                    padding: 15px;
                    width: 325px;
                    border: 1px solid #ccc;
                    border-top:0;
                    background: #fff;
                    text-align: left;
                    line-height: 25px;
                    a{color:$mainColor;}
                }
                &:hover{
                    background-color: #FFF;
                    width:108px;
                    border-bottom:1px solid #fff;
                    border-left:1px solid #ccc;
                    border-right:1px solid #ccc;
                    border-bottom:1px solid #fff;
                }
            }
            .dengluzhuce{
                width: 216px;
                text-align: right;
                a{
                    float:none;
                    display:inline-block;
                    &:hover{
                        text-decoration:underline;
                        color:$mainColor;
                    }
                }
            }
        }
    }
}



/*
    header
 */

#header{
    width: 100%;
    .container{
        height: 140px;position:relative;
        .logo{
            position:absolute;
            top:32px;
            left:10px;
            width: 330px;
            a{
                width: 210px;
                height: 70px;
                display: block;
            }
        }
        .search{
            position: absolute;
            top: 39px;
            left: 340px;
            width: 550px;
            /*
                form
             */
            .search_input {
                position: relative;
                width: 542px;
                height: 36px;
                border: 2px solid $mainColor;
                line-height: 36px;

                .opt_list{
                    position: absolute;
                    left: 0;
                    z-index:1000;
                    width: 80px;
                    height: auto;
                    border: 1px solid #e5e5e5;
                    // border-bottom: 0;
                    background: #fff;
                    cursor:pointer;
                    li{
                        line-height: 36px;
                        height: 36px;
                        text-align:center;
                        display:none;
                        &:hover{
                            background-color: #eee;
                            color:$mainColor;
                            text-decoration:underline;
                        }
                    }
                    li:first-child{
                        display:block;
                        padding-left:8px;width: 72px;
                        
                        height: 33px;
                        line-height: 33px;
                    }
                    

                }
                .txt{
                    float: left;
                    margin-left: 82px;
                    padding: 5px 10px;
                    width: 350px;
                    height: 26px;
                    border: 0;
                    line-height: 26px;
                }
                .submit {
                    float: left;
                    width: 90px;
                    height: 38px;
                    border: 0;
                    background: #0cb95f;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .hot_items{
                margin-top: 10px;
                margin-left: -1px;
                position:relative;
                z-index:-1;
                li.first{
                    border:none;
                }
                li.active{
                    color:red;
                }
                li{
                    float: left;
                    display: block;
                    padding: 0 12px;
                    height: 14px;
                    border-left: 1px solid #ccc;
                    &:hover{
                        color:$mainColor;
                        text-decoration:underline;
                    }
                }
            }
        }

        .promise{
            position: absolute;
            top: 39px;
            right: 0;
            z-index: 0;
            width: 300px;
            a{
                float: right;
                width: 175px;
                height: 40px;
                display: block;
                margin-right: 10px;
            }
        }
    }
}





#nav{
    width: 100%;            
            position:relative;
    .container{
        height: 50px;
        position: relative;
        .mainnav{
            overflow:hidden;

            .first{
                padding: 0;
                padding-left: 20px;
                width: 210px;
                background: $mainColor;
                a{color: #fff;}
                a:hover{
                    text-decoration:underline;
                    color: #fff;
                }
            }
            .home{padding:0 50px;}
            li{
                float: left;
                padding: 0 30px;
                height: 50px;
                line-height: 50px;
                a{
                    color: #333;
                    font-size: 16px;
                    &:hover{
                        text-decoration:underline;
                        color:$mainColor;
                    }
                }
            }
        }
        .catlist{
            height: 390px;
            width: 228px;
            position: absolute;
            left: 0;
            top: 50px;
            // opacity: .9;
            display:none;

            .erji{
                background: #fff;
                position: absolute;
                left: 0;
                top: 0;
                width: 230px;
                // opacity: .9;
                z-index:100000;
                li{
                    height: 45px;
                    padding: 9px 0 10px 50px;
                    border-bottom: 1px dashed #e5e5e5;
                    position: relative;
                    margin-left: 0;
                    border-top: 0;
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    h2{
                        display: block;
                        margin-bottom: 4px;
                        width: 178px;
                        height: 19px;
                        a{font-size:14px;}
                        a:hover{
                            text-decoration:underline;
                            color:$mainColor;
                        }
                    }
                    .sub a{
                        display: block;
                        float: left;
                        color: #999;
                        height: 24px;
                        line-height: 24px;
                        font-size: 12px;
                        margin-right: 10px;
                        &:hover{
                            text-decoration:underline;
                            color:$mainColor;
                        }
                    }
                    i{
                        position:absolute;
                        width: 24px;
                        height: 24px;
                        left: 16px;
                        top: 14px;
                    }
                    &:hover{
                        background-color: #eee;
                    }
                }
            }
            .sanji{
                width: 758px;
                position: absolute;
                left: 229px;
                top: 0;
                background: #f4f4f4;
                border: 1px solid #e5e5e5;
                min-height: 389px;
                padding: 0 10px;
                display: none;
                z-index:1000;
                .items{
                    padding: 0 45px 0 10px;
                    width: 520px;
                    float: left;
                    li{
                        border-bottom: 1px dotted #e1e1e1;
                        overflow: hidden;
                        padding: 10px 0 10px 95px;
                        position: relative;
                        .one{
                            background: #0cb95f;
                            color: #fff;
                            float: none;
                            height: 20px;
                            line-height: 20px;
                            left: 0;
                            padding: 0;
                            position: absolute;
                            top: 9px;
                            width: 73px;
                            padding-left: 5px;
                            color: #fff;
                            text-decoration: none;
                            &:hover{
                                color:#fff;
                                text-decoration:none;
                            }
                            label{
                                background-color: #0aa454;
                                display: block;
                                height: 20px;
                                width: 20px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                s{
                                    right: 3px;
                                    top: -2px;
                                    position: absolute;
                                    height: 20px;
                                    width: 14px;
                                }
                            }
                        }
                        a{
                            float: left;
                            margin: 5px 8px;
                            overflow: hidden;
                            height: 14px;
                            white-space: nowrap;
                            color: #666;
                            &:hover{
                                text-decoration:underline;
                                color:$mainColor;
                            }
                        }
                    }
                    .last{
                        border-bottom: 0;
                        height: 25px;
                        a{
                            background: #ccc;
                            color: #fff;
                            float: none;
                            height: 20px;
                            line-height: 20px;
                            left: 0;
                            padding: 0;
                            position: absolute;
                            top: 15px;
                            width: 73px;
                            padding-left: 5px;
                            margin: 0;
                            left:432px;

                            label{
                                background-color: #bbb;
                                display: block;
                                height: 20px;
                                width: 20px;
                                position: absolute;
                                right: -7px;
                                top: -2px;
                            }
                        }
                    }
                
                }
                .right{
                    padding: 15px 0 0 10px;
                    width: 169px;
                    float: left;
                    height: auto;
                    .top{
                        height: 92px;
                        a{
                        display: block;
                        float: left;
                        height: 40px;
                        width: 78px;
                        margin: 0 4px 4px 0;
                        border: 1px solid #eaeaea;
                        img{
                            height: 40px;
                            width: 78px;
                        }
                    }
                }
                    .center{
                        display: block;
                        border: 1px solid #e5e5e5;
                        width: 166px;
                        height: 120px;
                        margin: 5px 0 9px;
                    }
                    .bottom{
                        border: 1px solid #eaeaea;
                        margin-bottom: 15px;
                        height: 183px;
                        h6{
                            background: #fff none repeat scroll 0 0;
                            border-bottom: 1px dotted #eaeaea;
                            color: #666;
                            display: block;
                            font-size: 12px;
                            padding: 8px 10px 8px 14px;
                            text-align: left;
                            font-weight: bold;
                        }
                        ul{
                            background: #fff;
                            padding: 5px 10px;
                            height: 150px;
                            li{
                                float: left;
                                height: 28px;
                                line-height: 28px;
                                a{
                                    color: #999;
                                    &:hover{
                                        text-decoration:underline;
                                        color:$mainColor;
                                    }
                                } 
  
                            }
                        }
                    }

                }
            }
            
        }
        
    }
}


#wrap{
    .container{
        height:552px;
        .guid{
            padding: 15px 0;
            min-height: 24px;
            color: #aaa;
            text-align: left;
            line-height: 24px;
            a{
                float: left;
                display: block;
                &:hover{
                    text-decoration:underline;
                    color:$mainColor;
                }
            }
            i{
                float: left;
                display: block;
                margin: 3px 12px 0 8px;
                width: 8px;
                height: 18px;
                font-size:14px;
            }
            strong{
                color: #666;
                font-weight: normal;
            }
        }
        .main{
        height:552px;
            width: 1190px;
            position:relative;
            z-index:-1;
            .left{
                float: left;
                width: 370px;
        height:552px;
                
                .big{
                    width: 369px;
                    height: 369px;
                    border: 1px solid #e5e5e5;
                    display: block;
                    position: relative;
                    .goods{
                        width: 369px;
                        height: 369px;
                        position:relative;
                        float: left;
                        cursor: crosshair;
                        z-index: 99;
                        .picTop{
                            width: 360px;
                            height: 360px;
                            padding: 3px;
                        }
                        .tip{
                            bottom: 0;
                            color: #999;
                            left: 0;
                            position: absolute;
                            text-align: left;
                            width: 100%;
                            z-index: 998;
                            text-align: center;
                            line-height: 32px;
                            background: #fff;
                        }
                    }
                    .piccontainer{
                        position: relative;
                        overflow: hidden;
                        margin: 10px 0;
                        height: 66px;
                        width: 370px;
                        .pic-list{
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;
                            height: 66px;
                            .p{
                                float: left;
                                display: block;
                                margin-left: 10px;
                                width: 64px;
                                height: 64px;
                                border: 1px solid #e5e5e5;
                                img{
                                    width: 60px;height: 60px;
                                }
                            }
                            .p.first{margin-left:0;}
                            
                        }
                        .btnPre{
                            position: absolute;
                            top: 13px;
                            left:1px;
                            width: 23px;
                            height: 42px;
                            background-color: #333;
                            color:#fff;
                            line-height: 42px;
                            text-align:center;
                            opacity:0.7;
                            border-radius:0 4px 4px 0;
                            &:hover{
                                background-color: $mainColor;
                            }
                        }
                        .btnNex{
                            position: absolute;
                            top: 13px;
                            left:345px;
                            width: 23px;
                            height: 42px;
                            background-color: #333;
                            color:#fff;
                            line-height: 42px;
                            text-align:center;
                            opacity:0.7;
                            border-radius:4px 0 0 4px;
                            &:hover{
                                background-color: $mainColor;
                            }
                        }
                    }
                    .share{
                        padding: 5px 0;
                        height: 28px;
                        .ids{
                            float: left;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .right{
                position: relative;
                float: left;
                margin-left: 20px;
                width: 800px;
                height:552px;
                
                h1{
                    margin-bottom: 20px;
                    padding: 0 20px 0 0;
                    font-size: 18px;
                }
                .appad{
                    padding: 10px 0;
                    // float: left;
                    a{
                        text-decoration: none;
                        background: #e4393c;
                        color: #fff;
                        line-height: 22px;
                        height: 22px;
                        padding: 0 10px 0 26px;
                        display: inline-block;
                    }
                }
                .info{
                    height:552px;
                    width: 800px;
                    dl{
                        float: left;
                        width: 640px;
                        line-height: 24px;
                        dt{
                            float: left;
                            padding: 13px 0;
                            width: 64px;
                            border: 0;
                            color: #999;
                            text-align: right;
                            height: 24px;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        dt.l{
                            border-bottom: 1px dashed #e5e5e5;
                        }
                        dd{
                            position: relative;
                            float: left;
                            padding: 13px 0 13px 29px;
                            width: 716px;
                            border: 0;
                            height: 24px;
                            .z{
                                color: #999;
                                position: absolute;
                                right: 0;
                                top: 0;
                                padding: 13px 0;
                                height: 24px;
                                line-height: 24px;
                                cursor: pointer;
                            }
                        }
                        dd.l{
                            border-bottom: 1px dashed #e5e5e5;
                        }
                        dd.w2{
                            width: 270px;
                        }
                        dd.w3{
                            width: 184px;
                            .tip{
                                width: 540px;
                                left: -327px;
                                display: none;
                                padding: 10px 15px;
                                top: 45px;
                            }
                        }
                        dd.w1{
                            position:relative;
                            width: 547px;
                            .f2{
                                float: left;
                                img{
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    dl.h2{
                        margin-bottom: 10px;
                        margin-top:20px;
                        
                        dt{
                            padding-top: 5px;
                            padding-bottom: 4px;
                        }
                        dd{
                            padding-top: 5px;
                            padding-bottom: 4px;
                            .qty{
                                float: left;
                                display: block;
                                width: 90px;
                                height: 22px;
                                border: 1px solid #ccc;
                                text-align: center;
                                line-height: 22px;
                                button{
                                    float: left;
                                    display: inline-block;
                                    width: 24px;
                                    height: 22px;
                                    background-color: #fff;
                                    text-align:center;
                                    line-height: 22px;
                                }
                                .num{
                                    float: left;
                                    width: 40px;
                                    height: 22px;
                  
                                    border: 0;
                                    border-right: 1px solid #ccc;
                                    border-left: 1px solid #ccc;
                                    text-align: center;
                                    font-family: Arial;
                                    line-height: 22px;
                                   
                                }
                            }
                        }
                    }    

                    // 价格
                    .price{
                        width: 800px;
                        background: #f4f4f4;
                        dt{
                            padding: 18px 0;
                            height: 24px;
                        }
                        dd{
                            padding: 18px 0;
                            height: 24px;
                            padding-left:20px;
                            .money{
                                color: #e50000;
                                font-style: normal;
                                font-size:16px;

                            }
                            .num{
                                font-size:20px;
                            }
                        }
                    }
                    .mainop{
                        padding: 20px 0 20px 87px;
                        .btnBuy{
                            float: left;
                            display: block;
                            padding: 7px 22px;
                            border: 1px solid #e50000;
                            background: #fff;
                            color: #e50000;
                            text-align: center;
                            font-size: 18px;
                            font-family: "\5FAE\8F6F\96C5\9ED1";
                        }
                        .btnAdd{
                            float: left;
                            display: block;
                            padding: 7px 22px;
                            border: 1px solid #e50000;
                            background: #e50000;
                            color: #fff;
                            text-align: center;
                            font-size: 18px;
                            font-family: "\5FAE\8F6F\96C5\9ED1";
                            margin-left:20px;
                        }
                    }
                    .sinfo{
                        padding: 5px 15px;
                        border-top: 1px dashed #e5e5e5;
                        clear: both;
                        margin-top: 15px;
                        p{
                            color: #999;
                            line-height: 24px;
                            height: 24px;
                            padding: 2px 0;
                        }
                        .spec{
                            margin:0;
                            span{
                                position: relative;
                                padding-left: 25px;
                                height: 24px;
                                color: #333;
                                line-height: 24px;
                                display: block;
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }
}
.tip{
    position: absolute;
    z-index: 1001;
    display: block;
    padding: 0 5px;
    border: 1px solid #ccc;
    background: #fff;
}

#footer{
    width: 100%;
    .navigation{

        padding: 20px 0;
        height: 135px;
        border-top: 1px solid #e8e8e8;
        background: #f4f4f4;
        .container{
            a:hover{
                text-decoration:underline;
                color:$mainColor;
            }
            margin: 0 auto 0;
            width: 1190px;
            dl{
                float: left;
                width: 147px;
                dt{
                    color: #6a6a6a;
                    font-size: 14px;
                    font-family: "\5FAE\8F6F\96C5\9ED1";
                    line-height: 26px;
                }
                dd{
                    margin-top: 6px;
                    text-align: left;
                    a{
                        display: block;
                        overflow: hidden;
                        height: 26px;
                        color: #888;
                        text-align: left;
                        line-height: 26px;
                    }
                    a.qr{
                        height: 89px;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                .txt-center{
                    text-align:center;
                }
            }
            .mr20{
                margin-right: 20px;
            }
            .last{
                width: 90px;
            }
        }
    }
    .copyright{
        a:hover{
            text-decoration:underline;
        }
        padding: 20px 0;
        height: 258px;
        background: #444a50;
        color: #959aa0;
        .container{
            margin: 0 auto 0;
            width: 1190px;
            height: 233px;
            p{
                padding: 8px 0;
                color: #959aa0;
                a{
                    padding: 0 10px;
                    color: #959aa0;
                }
            }
            p.white a{
                color: #dee5ea;
            }
            p a.first {
                padding-left: 0;
            }
            p.zz{height:56px;}
            p.zz span{
                display: block;
                float: left;
                height: 20px;
                line-height: 20px;
            }
            p.zz .mr{
                margin-right:18px;
            }
            .cert{
                margin-top: 10px;
                height: 40px;
                .icon{
                    float: left;
                    margin-right: 10px;
                    width: 100px;
                    height: 40px;
                    line-height: 40px;
                    a{
                        display: block;
                        width: 100px;
                        height: 40px;
                    }
                    img{
                        width: 100px;
                        height: 40px;
                    }
                }
            }
            p.font{
                margin-top:5px;
            }
        }
    }

}
.footer .copyright p.zz span.gaba img {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer .copyright p.zz span.gaba a {
    float: left;
    display: block;
    padding-left: 3px;
    line-height: 20px;
    height: 20px;
}