@charset "UTF-8";
body { background: #fff; color: #333; font-size: 12px; font-family: Arial,"宋体",Tahoma,Verdana,sans-serif,simsun; }

/* top */
#top { width: 100%; background-color: #f4f4f4; color: #666; }

#top .container { height: 40px; line-height: 40px; text-align: center; }

#top .container .left { width: 400px; padding-left: 5px; }

#top .container .left li { border-right: 1px solid transparent; border-left: 1px solid transparent; }

#top .container .left li i { float: left; display: block; margin: 0 5px 10px 0; width: 20px; height: 20px; }

#top .container .left li a { white-space: nowrap; height: 40px; line-height: 40px; float: left; display: block; }

#top .container .left li a:hover { text-decoration: underline; color: #0cb95f; }

#top .container .left li s { float: left; display: block; margin: 10px 10px 10px 10px; width: 1px; height: 20px; border-right: 1px solid #e5e5e5; font-size: 0; overflow: hidden; }

#top .container .right { float: right; width: 785px; }

#top .container .right li { width: 80px; float: right; }

#top .container .right li a { display: block; float: left; }

#top .container .right .sjrz a { background-color: #0cb95f; display: block; width: 69px; height: 22px; border-radius: 1px; line-height: 22px; text-align: center; color: #fff; margin-top: 9px; margin-right: 0; }

#top .container .right .wzdh { position: relative; padding-left: 20px; margin-left: -20px; }

#top .container .right .wzdh a { display: block; float: left; line-height: 40px; }

#top .container .right .wzdh a:hover { color: #0cb95f; }

#top .container .right .wzdh i { float: left; display: block; margin: 0 5px 10px 0px; width: 20px; height: 20px; }

#top .container .right .kfzx a:hover { text-decoration: underline; color: #0cb95f; }

#top .container .right .sc s { float: left; display: block; margin: 10px 10px 10px 10px; width: 1px; height: 20px; border-right: 1px solid #e5e5e5; font-size: 0; overflow: hidden; }

#top .container .right .sc a:hover { text-decoration: underline; color: #0cb95f; }

#top .container .right .person { width: 95px; padding-left: 15px; }

#top .container .right .person a:hover { text-decoration: underline; color: #0cb95f; }

#top .container .right .person i { float: left; display: block; margin: 0 5px 10px 0px; width: 20px; height: 20px; }

#top .container .right .person s { float: left; display: block; margin: 10px 10px 10px 10px; width: 1px; height: 20px; border-right: 1px solid #e5e5e5; font-size: 0; overflow: hidden; }

#top .container .right .cart { width: 110px; padding-left: 15px; }

#top .container .right .cart i { float: left; display: block; margin: 0 5px 10px 0; width: 20px; height: 20px; }

#top .container .right .cart a:hover { color: #cc0000; }

#top .container .right .dengluzhuce { width: 216px; text-align: right; }

#top .container .right .dengluzhuce a { float: none; display: inline-block; }

#top .container .right .dengluzhuce a:hover { text-decoration: underline; color: #0cb95f; }

/* header */
#header { width: 100%; }

#header .container { height: 140px; position: relative; }

#header .container .logo { position: absolute; top: 32px; left: 10px; width: 330px; }

#header .container .logo a { width: 210px; height: 70px; display: block; }

#header .container .search { position: absolute; top: 39px; left: 340px; width: 550px; /* form */ }

#header .container .search .search_input { position: relative; width: 542px; height: 36px; border: 2px solid #0cb95f; line-height: 36px; }

#header .container .search .search_input .opt_list { position: absolute; left: 0; overflow: hidden; width: 80px; height: 35px; border: 1px solid #e5e5e5; border-bottom: 0; background: #fff; cursor: pointer; }

#header .container .search .search_input .opt_list li { line-height: 36px; height: 36px; text-align: center; }

#header .container .search .search_input .opt_list:hover li { background-color: #eee; color: #0cb95f; }

#header .container .search .search_input .txt { float: left; margin-left: 82px; padding: 5px 10px; width: 350px; height: 26px; border: 0; line-height: 26px; }

#header .container .search .search_input .submit { float: left; width: 90px; height: 38px; border: 0; background: #0cb95f; color: #fff; font-size: 14px; cursor: pointer; }

#header .container .search .hot_items { margin-top: 10px; margin-left: -1px; }

#header .container .search .hot_items li.first { border: none; }

#header .container .search .hot_items li.active { color: red; }

#header .container .search .hot_items li { float: left; display: block; padding: 0 12px; height: 14px; border-left: 1px solid #ccc; }

#header .container .search .hot_items li:hover { color: #0cb95f; text-decoration: underline; }

#header .container .promise { position: absolute; top: 39px; right: 0; z-index: 0; width: 300px; }

#header .container .promise a { float: right; width: 175px; height: 40px; display: block; margin-right: 10px; }

#nav { width: 100%; }

#nav .container { height: 50px; position: relative; }

#nav .container .mainnav { overflow: hidden; }

#nav .container .mainnav .first { padding: 0; padding-left: 20px; width: 210px; background: #0cb95f; }

#nav .container .mainnav .first a { color: #fff; }

#nav .container .mainnav .first a:hover { text-decoration: underline; color: #fff; }

#nav .container .mainnav .home { padding: 0 50px; }

#nav .container .mainnav li { float: left; padding: 0 30px; height: 50px; line-height: 50px; }

#nav .container .mainnav li a { color: #333; font-size: 16px; }

#nav .container .mainnav li a:hover { text-decoration: underline; color: #0cb95f; }

#nav .container .catlist { height: 390px; width: 228px; position: absolute; left: 0; top: 50px; opacity: .9; }

#nav .container .catlist .erji { background: #fff; position: absolute; left: 0; top: 0; width: 230px; opacity: .9; z-index: 100000; }

#nav .container .catlist .erji li { height: 45px; padding: 9px 0 10px 50px; border-bottom: 1px dashed #e5e5e5; position: relative; margin-left: 0; border-top: 0; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }

#nav .container .catlist .erji li h2 { display: block; margin-bottom: 4px; width: 178px; height: 19px; }

#nav .container .catlist .erji li h2 a { font-size: 14px; }

#nav .container .catlist .erji li h2 a:hover { text-decoration: underline; color: #0cb95f; }

#nav .container .catlist .erji li .sub a { display: block; float: left; color: #999; height: 24px; line-height: 24px; font-size: 12px; margin-right: 10px; }

#nav .container .catlist .erji li .sub a:hover { text-decoration: underline; color: #0cb95f; }

#nav .container .catlist .erji li i { position: absolute; width: 24px; height: 24px; left: 16px; top: 14px; }

#nav .container .catlist .erji li:hover { background-color: #eee; }

#nav .container .catlist .sanji { width: 758px; position: absolute; left: 229px; top: 0; background: #f4f4f4; border: 1px solid #e5e5e5; min-height: 389px; padding: 0 10px; display: none; z-index: 1000; }

#nav .container .catlist .sanji .items { padding: 0 45px 0 10px; width: 520px; float: left; }

#nav .container .catlist .sanji .items li { border-bottom: 1px dotted #e1e1e1; overflow: hidden; padding: 10px 0 10px 95px; position: relative; }

#nav .container .catlist .sanji .items li .one { background: #0cb95f; color: #fff; float: none; height: 20px; line-height: 20px; left: 0; padding: 0; position: absolute; top: 9px; width: 73px; padding-left: 5px; color: #fff; text-decoration: none; }

#nav .container .catlist .sanji .items li .one:hover { color: #fff; text-decoration: none; }

#nav .container .catlist .sanji .items li .one label { background-color: #0aa454; display: block; height: 20px; width: 20px; position: absolute; right: 0; top: 0; }

#nav .container .catlist .sanji .items li .one label s { right: 3px; top: -2px; position: absolute; height: 20px; width: 14px; }

#nav .container .catlist .sanji .items li a { float: left; margin: 5px 8px; overflow: hidden; height: 14px; white-space: nowrap; color: #666; }

#nav .container .catlist .sanji .items li a:hover { text-decoration: underline; color: #0cb95f; }

#nav .container .catlist .sanji .items .last { border-bottom: 0; height: 25px; }

#nav .container .catlist .sanji .items .last a { background: #ccc; color: #fff; float: none; height: 20px; line-height: 20px; left: 0; padding: 0; position: absolute; top: 15px; width: 73px; padding-left: 5px; margin: 0; left: 432px; }

#nav .container .catlist .sanji .items .last a label { background-color: #bbb; display: block; height: 20px; width: 20px; position: absolute; right: -7px; top: -2px; }

#nav .container .catlist .sanji .right { padding: 15px 0 0 10px; width: 169px; float: left; height: auto; }

#nav .container .catlist .sanji .right .top { height: 92px; }

#nav .container .catlist .sanji .right .top a { display: block; float: left; height: 40px; width: 78px; margin: 0 4px 4px 0; border: 1px solid #eaeaea; }

#nav .container .catlist .sanji .right .top a img { height: 40px; width: 78px; }

#nav .container .catlist .sanji .right .center { display: block; border: 1px solid #e5e5e5; width: 166px; height: 120px; margin: 5px 0 9px; }

#nav .container .catlist .sanji .right .bottom { border: 1px solid #eaeaea; margin-bottom: 15px; height: 183px; }

#nav .container .catlist .sanji .right .bottom h6 { background: #fff none repeat scroll 0 0; border-bottom: 1px dotted #eaeaea; color: #666; display: block; font-size: 12px; padding: 8px 10px 8px 14px; text-align: left; font-weight: bold; }

#nav .container .catlist .sanji .right .bottom ul { background: #fff; padding: 5px 10px; height: 150px; }

#nav .container .catlist .sanji .right .bottom ul li { float: left; height: 28px; line-height: 28px; }

#nav .container .catlist .sanji .right .bottom ul li a { color: #999; }

#nav .container .catlist .sanji .right .bottom ul li a:hover { text-decoration: underline; color: #0cb95f; }

#nav .container .sjrz { position: absolute; right: 0; top: 50px; width: 180px; height: 330px; }

#nav .container .tad { width: 180px; height: 60px; font-size: 0; position: absolute; right: 0; top: 380px; z-index: 1000; opacity: .9; }

#nav .container .tad a { display: inline-block; height: 60px; width: 90px; vertical-align: top; }

#nav .container .tad img { width: 100%; height: 100%; vertical-align: top; }

/* 导航 */
#banner { width: 100%; height: 390px; z-index: -1000; position: relative; }

#banner ul { height: 100%; margin: 0 auto; min-width: 1190px; overflow: hidden; position: relative; width: 100%; }

#banner .fade li { position: absolute; width: 100%; height: 100%; }

#banner .fade li a { display: block; height: 390px; margin-left: 425px; text-align: left; width: 780px; }

#banner .fade li a img { width: 780px; height: 390px; display: block; }

#banner .clist { width: 1190px; margin: 0 auto; position: relative; height: 0; }

#banner .clist ul { position: absolute; left: 230px; top: -3px; height: 30px; width: 780px; min-width: 780px; }

#banner .clist ul li { width: 155px; float: left; text-align: center; height: 20px; background: #000; padding: 5px 0; border-right: 1px solid #666; background: rgba(0, 0, 0, 0.4); font-family: "\5FAE\8F6F\96C5\9ED1"; cursor: pointer; }

#banner .clist ul li:hover { background: #0cb95f; }

#banner .clist ul li span { display: block; color: #fff; line-height: 20px; height: 20px; overflow: hidden; }

#banner .clist ul li.active { background-color: #0cb95f; }

/* 主体 */
#main { width: 100%; margin-top: 20px; }

#main .container { height: auto; }

#main .container .xsqg { margin-bottom: 20px; height: auto; }

#main .container .xsqg .h2 { margin-bottom: 10px; }

#main .container .xsqg .h2 i { width: 45px; height: 27px; vertical-align: middle; }

#main .container .xsqg .h2 span { font-size: 20px; margin: 0 10px; vertical-align: middle; font-weight: bold; }

#main .container .xsqg .cont { border: 1px solid #e4e4e4; height: 276px; letter-spacing: -4px; text-align: left; }

#main .container .xsqg .cont .item.hover { border-right: 1px solid #e4e4e4; position: relative; margin-right: -1px; box-shadow: 3px 0 6px #eee; }

#main .container .xsqg .cont .item.hover:hover .ewm { left: 0; opacity: 1; }

#main .container .xsqg .cont .item.hover:hover .curpic { transform: translateX(200px); }

#main .container .xsqg .cont .item.hover .curpic { display: block; transition: all .4s ease-in-out; position: relative; }

#main .container .xsqg .cont .item.hover .curpic .sheng { top: -14px; }

#main .container .xsqg .cont .item.hover .ewm { text-align: center; transition: all .4s ease; position: absolute; left: -220px; top: 0; opacity: 0; width: 100%; background-color: #fff; }

#main .container .xsqg .cont .item.hover .ewm img { vertical-align: top; height: 160px; width: 160px; }

#main .container .xsqg .cont .item.hover .ewm .h3 { color: #0a2; font-size: 14px; line-height: 26px; }

#main .container .xsqg .cont .item { position: relative; display: inline-block; vertical-align: top; width: 19.999%; letter-spacing: 0; height: 100%; overflow: hidden; }

#main .container .xsqg .cont .item img { display: block; height: 190px; width: 190px; margin: 18px auto; position: relative; vertical-align: top; }

#main .container .xsqg .cont .item .sheng { background: url("../img/1534816267(1).jpg") no-repeat left top, #ff0029; width: 57px; padding-top: 47px; height: 20px; position: absolute; right: 4px; top: 4px; display: block; color: #fff; font-size: 12px; }

#main .container .xsqg .cont .item .sheng span { font-style: normal; width: 100%; display: block; text-align: center; font-weight: bold; letter-spacing: -0.5px; }

#main .container .xsqg .cont .item .sheng span small { font-size: smaller; }

#main .container .xsqg .cont .item .name { margin: 0 18px; font-size: 14px; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 28px; display: block; }

#main .container .xsqg .cont .item .sale { color: #e50000; font-size: 16px; margin: 0 18px; }

#main .container .xsqg .cont .item .sale del { font-size: 12px; margin-left: 10px; color: #999; }

#main .container .mitems { margin-bottom: 20px; height: 622px; }

#main .container .mitems .title { height: 40px; line-height: 40px; margin-bottom: 5px; }

#main .container .mitems .title .ic { float: left; height: 40px; }

#main .container .mitems .title .ic span { display: block; float: left; width: 20px; height: 24px; background-color: #0cb95f; color: #fff; font-size: 20px; line-height: 24px; padding: 0 2px; margin: 8px auto; margin-right: 2px; }

#main .container .mitems .title .ic .left { border-radius: 10px 0 0 10px; text-align: right; }

#main .container .mitems .title .ic .right { border-radius: 0 10px 10px 0; text-align: left; }

#main .container .mitems .title h2 { float: left; font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 20px; padding-left: 10px; }

#main .container .mitems .title .snav { float: right; height: 14px; margin: 16px 0 9px; }

#main .container .mitems .title .snav a { display: block; height: 20px; line-height: 20px; padding: 0 14px; float: right; margin-bottom: 10px; text-decoration: none; font-size: 14px; font-family: "\5FAE\8F6F\96C5\9ED1"; text-align: center; border-right: solid 1px #ccc; position: relative; }

#main .container .mitems .title .snav a.active { background: #0cb95f; color: #fff; text-decoration: none; }

#main .container .mitems .title .snav a::before { content: ''; position: absolute; top: 18px; left: 50%; border: 8px solid transparent; border-top-color: #0cb95f; display: none; }

#main .container .mitems .title .snav a:hover::before { display: block; }

#main .container .mitems .content .left { width: 300px; float: left; position: relative; }

#main .container .mitems .content .left ul { height: 360px; width: 300px; overflow: hidden; }

#main .container .mitems .content .left ul li { float: left; position: absolute; }

#main .container .mitems .content .left .pp { border: 1px solid #e5e5e5; width: 298px; }

#main .container .mitems .content .left .pp a { display: block; float: left; width: 148px; height: 71px; border-bottom: 1px solid #e5e5e5; }

#main .container .mitems .content .left .pp a img { width: 140px; height: 60px; margin: 5px 0 0 3px; }

#main .container .mitems .content .left .pp .nb { border-ottom: 0; }

#main .container .mitems .content .left .pp .bl { border-right: 1px solid #e5e5e5; }

#main .container .mitems .content .right { width: 890px; float: left; border-top: 1px solid #e5e5e5; }

#main .container .mitems .content .right .vis { display: block; }

#main .container .mitems .content .right ul { display: none; }

#main .container .mitems .content .right ul li { float: left; height: 267px; width: 185px; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 10px 18px 10px 18px; position: relative; }

#main .container .mitems .content .right ul li a { display: block; }

#main .container .mitems .content .right ul li a img { height: 174px; width: 174px; transition: transform .2s linear 0s; border: 1px solid transparent; }

#main .container .mitems .content .right ul .txt { display: block; height: 20px; line-height: 20px; margin: 15px 0 0; overflow: hidden; }

#main .container .mitems .content .right ul .txt:hover { color: #0cb95f; text-decoration: underline; }

#main .container .mitems .content .right ul .ps { color: #999; display: block; height: 20px; line-height: 20px; margin: 5px 0; overflow: hidden; }

#main .container .mitems .content .right ul .price { font-size: 14px; text-align: left; color: #e50000; font-style: normal; font-family: Arial; }

#main .container .more { height: auto; position: relative; }

#main .container .more .title { position: relative; }

#main .container .more .ml { position: absolute; display: block; height: 0; width: 46px; border-bottom: 1px solid #ccc; left: 50%; top: 50%; margin-top: -0.5px; margin-left: -93px; }

#main .container .more .mr { left: 50%; top: 50%; margin-top: -0.5px; margin-left: 47px; position: absolute; display: block; height: 0; width: 46px; border-bottom: 1px solid #ccc; }

#main .container .more .txt { font-size: 20px; font-family: "微软雅黑"; text-align: center; color: #333; }

#main .container .more .more_goods { display: inline-block; margin: 10px -5px 16px; font-size: 0; }

#main .container .more .content .more_item { width: 228px; float: left; border: 1px solid #e5e5e5; padding-bottom: 20px; margin: 0 5px 12px; }

#main .container .more .content .more_item img { width: 170px; height: 170px; text-align: center; transition: transform .2s linear 0s; display: block; margin: 30px auto 34px 20px; }

#main .container .more .content .more_item img:hover { transform: translateX(-8px); }

#main .container .more .content .more_item .name { display: block; text-align: center; line-height: 24px; font-size: 14px; color: #333; font-family: "微软雅黑"; }

#main .container .more .content .more_item a:hover { text-decoration: underline; color: #0cb95f; }

#main .container .more .content .more_item span { display: block; text-align: center; font-size: 14px; line-height: 20px; font-family: Arial; color: #e50000; }

#main .container .more .content .more_item span div { display: inline; font-size: 12px; }

#main .container .bottom { height: 110px; margin: 10px 0; }

#main .container .bottom img { width: 1190px; }

#news { height: 276px; margin: 10px 0; }

#news .left { width: 381px; border: 1px solid #e5e5e5; float: left; }

#news .title { line-height: 40px; background: #f4f4f4; border-bottom: 1px solid #e5e5e5; padding-left: 20px; height: 41px; }

#news .title h4 { font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 14px; float: left; width: 100px; font-weight: normal; color: #666; }

#news .title a { float: right; color: #999; width: 50px; display: block; }

#news .title a:hover { text-decoration: underline; color: #0cb95f; }

#news .top { height: 92px; padding-top: 8px; padding-bottom: 6px; }

#news .top .l { display: block; float: left; padding: 10px 15px 0 15px; width: 100px; position: relative; }

#news .top .l img { width: 100px; height: 80px; }

#news .top .r { float: left; width: 230px; padding: 10px 10px 0 0; }

#news .top .r .t { display: block; height: 16px; line-height: 16px; margin-left: 0; margin-right: 0; margin-top: 5px; overflow: hidden; font-weight: bold; }

#news .top .r .txt { line-height: 20px; color: #666; margin-top: 10px; }

#news .top .r a:hover { text-decoration: underline; color: #0cb95f; }

#news .top a:hover { text-decoration: underline; color: #0cb95f; }

#news .n { padding: 5px 17px 10px; }

#news .n li { line-height: 28px; white-space: nowrap; overflow: hidden; }

#news .n li a { color: #666; }

#news .n a:hover { text-decoration: underline; color: #0cb95f; }

#news .center { width: 381px; border: 1px solid #e5e5e5; float: left; margin: 0 20px; }

#news .center img { width: 100px; height: 80px; }

#news .center .num { color: #fff; text-align: center; height: 15px; width: 15px; font-style: italic; display: inline-block; font-weight: bold; line-height: 16px; margin-right: 3px; }

#news .center .l .num { position: absolute; left: 15px; top: 10px; background: #e16070; }

#news .center .num.t2 { background: #ffbc1d; }

#news .center .num.t3 { background: #6aabea; }

#news .center a:hover { text-decoration: underline; color: #0cb95f; }

#news .right { width: 381px; border: 1px solid #e5e5e5; float: left; }

#news .right .pcontainer { height: 233px; overflow: hidden; position: relative; }

#links { width: 100%; }

#links .container { border: 1px solid #e5e5e5; margin: 20px auto; }

#links .container .lnav { border-bottom: 1px solid #e5e5e5; line-height: 40px; height: 40px; background: #f4f4f3; }

#links .container .lnav li { float: left; background: #f4f4f4; width: 137px; font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 14px; display: block; height: 40px; line-height: 40px; text-align: center; color: #333; text-decoration: none; }

#links .container .lnav li.hover { border-right: 1px solid #e5e5e5; border-bottom: 1px solid #fff; background-color: #fff; }

#links .container .lnav ._remen { background: #FFF; border-right: 1px solid #e5e5e5; border-bottom: 1px solid #fff; }

#links .container .linktxt { display: block; padding: 20px 35px; height: 244px; }

#links .container .linktxt a { display: block; float: left; margin: 10px 0; width: 110px; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#links .container .linktxt a:hover { text-decoration: underline; color: #0cb95f; }

#links .container .linktxt.youqing { height: 244px; display: none; }

#links .container .linktxt.remen { height: 142px; }

#footer { width: 100%; }

#footer .navigation { padding: 20px 0; height: 135px; border-top: 1px solid #e8e8e8; background: #f4f4f4; }

#footer .navigation .container { margin: 0 auto 0; width: 1190px; }

#footer .navigation .container a:hover { text-decoration: underline; color: #0cb95f; }

#footer .navigation .container dl { float: left; width: 147px; }

#footer .navigation .container dl dt { color: #6a6a6a; font-size: 14px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 26px; }

#footer .navigation .container dl dd { margin-top: 6px; text-align: left; }

#footer .navigation .container dl dd a { display: block; overflow: hidden; height: 26px; color: #888; text-align: left; line-height: 26px; }

#footer .navigation .container dl dd a.qr { height: 89px; }

#footer .navigation .container dl dd a.qr img { width: 80px; height: 80px; }

#footer .navigation .container dl .txt-center { text-align: center; }

#footer .navigation .container .mr20 { margin-right: 20px; }

#footer .navigation .container .last { width: 90px; }

#footer .copyright { padding: 20px 0; height: 258px; background: #444a50; color: #959aa0; }

#footer .copyright a:hover { text-decoration: underline; }

#footer .copyright .container { margin: 0 auto 0; width: 1190px; height: 233px; }

#footer .copyright .container p { padding: 8px 0; color: #959aa0; }

#footer .copyright .container p a { padding: 0 10px; color: #959aa0; }

#footer .copyright .container p.white a { color: #dee5ea; }

#footer .copyright .container p a.first { padding-left: 0; }

#footer .copyright .container p.zz { height: 56px; }

#footer .copyright .container p.zz span { display: block; float: left; height: 20px; line-height: 20px; }

#footer .copyright .container p.zz .mr { margin-right: 18px; }

#footer .copyright .container .cert { margin-top: 10px; height: 40px; }

#footer .copyright .container .cert .icon { float: left; margin-right: 10px; width: 100px; height: 40px; line-height: 40px; }

#footer .copyright .container .cert .icon a { display: block; width: 100px; height: 40px; }

#footer .copyright .container .cert .icon img { width: 100px; height: 40px; }

#footer .copyright .container p.font { margin-top: 5px; }

.footer .copyright p.zz span.gaba img { float: left; display: block; width: 20px; height: 20px; vertical-align: middle; }

.footer .copyright p.zz span.gaba a { float: left; display: block; padding-left: 3px; line-height: 20px; height: 20px; }
