@charset "UTF-8";
body { background: #fff; color: #333; font-size: 12px; font-family: Arial,"宋体",Tahoma,Verdana,sans-serif,simsun; }

.container { width: 990px; }

div { height: auto; }

/* top */
#top { width: 100%; background-color: #f4f4f4; color: #666; }

#top .container { height: 40px; line-height: 40px; text-align: center; width: 990px; }

#top .container .left { width: 250px; padding-left: 5px; }

#top .container .left li { border-right: 1px solid transparent; border-left: 1px solid transparent; position: relative; }

#top .container .left li i { float: left; display: block; margin: 0 5px 10px 0; width: 20px; height: 20px; }

#top .container .left li a { white-space: nowrap; height: 40px; line-height: 40px; float: left; display: block; }

#top .container .left li a:hover { text-decoration: underline; color: #0cb95f; }

#top .container .left li s { float: left; display: block; margin: 10px 10px 10px 10px; width: 1px; height: 20px; border-right: 1px solid #e5e5e5; font-size: 0; overflow: hidden; }

#top .container .left li .wxbig { position: absolute; top: 40px; left: -80px; z-index: 99999; border: 1px solid #e5e5e5; background: #fff; display: none; }

#top .container .left li .wxbig .pic { position: relative; width: 258px; height: 258px; background: url("../img/1535021874(1).jpg") no-repeat center top; }

#top .container .left li .wxbig .txt { padding: 0 10px 5px; width: 238px; color: #666; text-align: center; font-family: "\5FAE\8F6F\96C5\9ED1"; }

#top .container .left li .appbig { position: absolute; top: 40px; left: -80px; display: none; z-index: 99999; border: 1px solid #e5e5e5; background: #fff; }

#top .container .left li .appbig .pic { position: relative; width: 258px; height: 258px; background: url("../img/1535022255(1).jpg") no-repeat center top; }

#top .container .left li .appbig .txt { padding: 0 10px 5px; width: 238px; color: #666; text-align: center; font-family: "\5FAE\8F6F\96C5\9ED1"; }

#top .container .right { float: right; width: 735px; }

#top .container .right li { width: 80px; float: right; }

#top .container .right li > a { display: block; float: left; }

#top .container .right .wzdh { position: relative; padding-left: 20px; margin-left: -20px; }

#top .container .right .wzdh:hover > a { text-decoration: underline; color: #0cb95f; }

#top .container .right .wzdh:hover { background-color: #FFF; width: 78px; border-bottom: 1px solid #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #fff; }

#top .container .right .wzdh > a { display: block; float: left; line-height: 40px; }

#top .container .right .wzdh i { float: left; display: block; margin: 0 5px 10px 0px; width: 20px; height: 20px; }

#top .container .right .wzdh .other { background: #fff; border: 1px solid #ccc; border-top: 0; position: absolute; right: -1px; top: 40px; z-index: 2; width: 450px; padding: 10px 0; line-height: 1.5; display: none; }

#top .container .right .wzdh .other .item { display: inline-block; width: 44%; vertical-align: top; text-align: left; }

#top .container .right .wzdh .other .item .h1 { color: #0cb95f; font-size: 14px; padding: 0 0 5px 5px; }

#top .container .right .wzdh .other .item a { display: inline-block; vertical-align: top; padding: 2px 5px; color: #333; }

#top .container .right .kfzx a:hover { text-decoration: underline; color: #0cb95f; }

#header { width: 100%; }

#header .container { height: 140px; position: relative; }

#header .container .logo { position: absolute; top: 32px; left: 10px; width: 330px; }

#header .container .logo a { width: 210px; height: 70px; display: block; }

#header .container .sub { float: left; margin: 10px; padding-left: 15px; height: 55px; border-left: 1px solid #e5e5e5; font-weight: bold; font-size: 24px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 55px; position: absolute; top: 30px; left: 225px; }

#header .container .sub .sub_name { color: #666; white-space: nowrap; }

#regmain .register { width: 1583px; height: auto; border-top: 1px solid #e5e5e5; background: #f4f4f4; }

#regmain .register .container { margin: 0 auto 0; width: 990px; }

#regmain .register .container .form { padding: 30px 0; }

#regmain .register .container .form .tabnav { position: relative; border: 0; }

#regmain .register .container .form .tabnav .navul { height: 49px; background: #f4f4f4; }

#regmain .register .container .form .tabnav .navul li { position: relative; float: left; width: 180px; height: 49px; border-right: 1px solid #e5e5e5; text-align: center; line-height: 49px; }

#regmain .register .container .form .tabnav .navul li a { position: relative; display: block; border-top: 1px solid #e5e5e5; font-size: 18px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 49px; }

#regmain .register .container .form .tabnav .navul li a.active { height: 49px; border-top: 2px solid #0cb95f; background: #fff; color: #0cb95f; line-height: 49px; }

#regmain .register .container .form .tabnav .navul li.first { border-left: 1px solid #e5e5e5; }

#regmain .form .items { padding: 30px 0; border: 1px solid #e5e5e5; background: #fff; }

#regmain .form .items .iform li { padding: 10px 0; height: 40px; color: #666; font-size: 14px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 40px; }

#regmain .form .items .iform li .note { float: left; display: block; margin-right: 10px; width: 170px; height: 40px; color: #999; text-align: right; font-size: 14px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 40px; }

#regmain .form .items .iform li .note span { margin-right: 5px; color: #e50000; vertical-align: middle; font-size: 16px; font-family: serif; }

#regmain .form .items .iform li .err { color: #e16070; position: relative; float: left; margin-left: 5px; padding: 0 10px 0 25px; font-size: 12px; font-family: Arial,"宋体"; display: none; }

#regmain .form .items .iform li .bginput { float: left; display: block; position: relative; }

#regmain .form .items .iform li .bginput i { position: absolute; top: 0; left: 10px; display: block; width: 18px; height: 25px; color: #ccc; }

#regmain .form .items .iform li .bginput .input_big { padding: 0 20px 0 35px; width: 265px; height: 40px; border: 1px solid #e5e5e5; color: #333; font-size: 14px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 40px; }

#regmain .form .items .iform li .bginput a.btn9 { display: block; color: #999; background: #f4f4f4; text-align: center; border: 1px solid #e5e5e5; padding: 0 20px; margin-left: 5px; }

#regmain .form .items .iform li.line { margin: 10px 0; padding: 0; height: 40px; line-height: 40px; border-top: 1px dotted #ccc; background: #f9f9f9; }

#regmain .form .items .iform li.line label { width: 165px; text-align: right; display: inline-block; }

#regmain .form .items .iform li.op { padding-left: 180px; }

#regmain .form .items .iform li.op a { float: left; width: 320px; }

#regmain .form .items .iform li.op a.btn2.b2 { height: 48px; font-size: 18px; line-height: 48px; font-size: 18px; }

#regmain .form .items .iform li.op a.btn2 { display: block; background: #0cb95f; color: #fff; text-align: center; }

#regmain .form .items .iform li.license { padding: 0 0 0 180px; }

#regmain .form .items .iform li.license .ckdiv { position: relative; float: left; padding-left: 20px; cursor: pointer; }

#regmain .form .items .iform li.license .ckdiv #gouxuan { position: absolute; top: 12px; left: 0; }

#regmain .form .items .iform li.license a { color: #0cb95f; }

#footer { width: 100%; }

#footer .copyright { padding: 20px 0; height: 110px; background: #fff; color: #959aa0; }

#footer .copyright a:hover { text-decoration: underline; }

#footer .copyright .container { margin: 0 auto 0; height: 110px; }

#footer .copyright .container p { padding: 6px 0; color: #959aa0; }

#footer .copyright .container p a { color: #999; margin: 0 6px; }

#footer .copyright .container p.white a { color: #999; margin: 0 4px; }

#footer .copyright .container p.zz { height: 32px; }

#footer .copyright .container p.zz span { display: block; float: left; height: 20px; line-height: 20px; margin-right: 12px; }

#footer .copyright .container p.font, #footer .copyright .container p.copy { text-align: center; }

.footer .copyright p.zz span.gaba img { float: left; display: block; width: 20px; height: 20px; vertical-align: middle; }

.footer .copyright p.zz span.gaba a { float: left; display: block; padding-left: 3px; line-height: 20px; height: 20px; }
